@page "/"
@implements IDisposable
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@inject IState<CarState> CarState

@inject CarService CarService;
@inject AlertService AlertService;

@inject INotificationService NotificationsService;

<h1>Car list</h1>
<NavLink href="car/add">Create car</NavLink>

@foreach (var car in cars)
{
    var carEditUrl = $"car/edit/{car.Plate}";
    var carDeleteUrl = $"car/delete/{car.Plate}";
    <ul class="mb-4">
    <li class="text-carcare">Plate: @car.Plate</li>
    <li>TaxDueDate: @car.TaxDueDate.ToShortDateString()</li>
    <li>InspectionDate: @car.InspectionDate.ToShortDateString()</li>
    <li>InsuranceDate: @car.InsuranceDate.ToShortDateString()</li>
    <li>
        <NavLink class="inline-block bg-blue-200 p-2 m-4 rounded-md" href="@carEditUrl">Edit</NavLink>
        <NavLink class="inline-block bg-blue-200 p-2 m-4 rounded-md" href="@carDeleteUrl">Delete</NavLink>
    </li>
</ul>
}

@foreach (var alert in alerts)
{
    <Alert AlertModel="@alert" />
}

@code{
    private IList<CarModel> cars = new List<CarModel>();
    private IList<AlertModel> alerts = new List<AlertModel>();

    private bool canNotify = false;

    protected override async Task OnInitializedAsync()
    {
        if (await NotificationsService.IsSupportedByBrowserAsync())
        {
            canNotify = await NotificationsService.RequestPermissionAsync() == PermissionType.Granted;
        }

        cars = CarState.Value.Cars;
        CarState.StateChanged += StoreChanged;

        CarService.LoadCarsInitialState();
    }

    private void StoreChanged(object sender, CarState state)
    {

        cars = state.Cars;
        alerts = AlertService.GetActiveAlert();

        if (canNotify)
        {
            foreach (var alert in alerts)
            {
                NotificationsService.CreateAsync($"{alert.CarPlate} || {alert.Expired}", new NotificationOptions()
                {
                    Body = $"{alert.Expired} has expired on day: {alert.Date.ToString("dd/MM/yyyy")}",
                    Tag = new Random().Next().ToString()
                }); ;
            }
        }

        StateHasChanged();
    }

    public void Dispose()
    {
        CarState.StateChanged -= StoreChanged;
    }
}